.modalContainer {
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0;
  height: fit-content;
  min-height: 380px;
  min-width: 320px;
  width: 100%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 25px;
  background: var(--black);
  transition: transform 0.3s ease;
}

.modal {
  text-align: center;
  position: relative;
}

.modal input:not(:focus) {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle {
  font-size: 1rem;
  font-weight: 800;
  color: var(--green);
  background: none;
  border: none;
  cursor: pointer;
}
