.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 75%;
  margin: 0 auto;
}

.form label {
  font-size: 1.125rem;
}

.form input {
  color: inherit;
  background: rgba(58, 80, 107, 0.3);
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 1em 1.5em;
  margin: 0 auto 0.2em;
  border: none;
  border-radius: 25px;
}

.form input::placeholder {
  color: inherit;
  opacity: 0.7;
}

.messageContainer {
  min-height: 1.2rem;
}

.inputError {
  font-size: 0.875rem;
  color: var(--red);
  margin: 0;
}

.form button {
  font-family: inherit;
  color: inherit;
  background: var(--green);
  width: fit-content;
  padding: 1em 3em;
  margin: 0 auto;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.form button:hover,
.form button:hover {
  opacity: 0.7;
}

.successMessage,
.errorMessage {
  margin: 0;
}

.successMessage {
  color: var(--green);
}

.errorMessage {
  color: var(--red);
}

.gotoLogin a {
  font-weight: 700;
  color: var(--green);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.gotoLogin a:hover,
.gotoLogin a:focus {
  color: var(--blue-grey);
}
