.card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--black), var(--dark-blue));
  width: 100%;
  max-width: 450px;
  height: 100%;
  min-height: 250px;
  max-height: 275px;
  overflow-y: hidden;
  padding: 1em 1.5em;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

.background {
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 125%;
  height: 125%;
  opacity: 0.4;
  z-index: 0;
}

@media (min-width: 768px) {
  .card {
    max-height: 300px;
  }
}

@media (min-width: 1200) {
  .card {
    max-height: 400px;
  }
}
