.container {
  text-align: center;
  height: 100vh;
  padding-top: 60px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hero {
  padding: 4em 1em;
}

.hero h1 {
  color: var(--green);
}

.hero h2 {
  font-size: 2.25rem;
  color: var(--green);
  margin-top: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 1em auto;
  max-width: 800px;
}

.getStartedBtn {
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  background: var(--green);
  padding: 1em 2.5em;
  margin-top: 1em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.getStartedBtn:hover {
  opacity: 0.7;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2em 0;
  background: var(--dark-blue);
}

.dashboardImageContainer {
  position: relative;
  width: 95%;
  aspect-ratio: 18/9;
  margin: 0 auto;
}

.featuresContainer {
  display: grid;
  gap: 2em;
  padding: 2em 1em;
}

.featureSection {
  padding: 1em;
}

.featureSection h2 {
  font-size: 2.25rem;
  color: var(--green);
  margin-bottom: 0;
}

.featureInfo {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .hero {
    padding: 5em 2em;
  }

  .imageSection {
    padding: 3em 2em;
  }

  .featuresContainer {
    grid-template-columns: 1fr 1fr;
    padding: 3em 2em;
  }

  .lastFeature {
    grid-column: span 2;
  }
}

@media (min-width: 1028px) {
  .hero {
    padding: 7em 3em;
  }

  .imageSection {
    padding: 5em 3em;
  }

  .featureSection h2 {
    margin-top: 2em;
  }

  .featuresContainer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4em 3em;
  }

  .lastFeature {
    grid-column: 2;
  }
}
