.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 0.5em 1em;
  background: linear-gradient(135deg, var(--black), var(--dark-blue));
  z-index: 9999;
}

.welcome {
  font-weight: 800;
}

.burger_menu {
  background: none;
  border: none;
  margin-right: 0.1em;
  cursor: pointer;
  transform: scale(1.2);
}

.loginBtn {
  color: inherit;
  background: var(--green);
  padding: 0.5em 1.25em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    padding: 0.5em 2em;
    position: relative;
  }

  .welcome {
    font-size: 1.125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .burger_menu {
    display: none;
  }
}
