.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(135deg, var(--black), var(--dark-blue));
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.profileBtnLi {
  display: none;
}

.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  right: 16px;
  top: 14px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeBtn span {
  font-size: 40px;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 5em 0;
}

.links:hover,
.links:focus {
  color: var(--green);
}

.nav li {
  font-size: 2rem;
}

.nav li a {
  text-decoration: none;
  color: inherit;
}

.signoutForm button {
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  font-weight: 400;
  text-align: center;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.signoutForm button:hover {
  color: var(--green);
}

@media (min-width: 768px) {
  .nav {
    position: unset;
    background: none;
    transform: unset;
  }

  .profileBtnLi {
    display: inline;
    cursor: pointer;
  }

  .profileBtn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .profileBtn:hover {
    opacity: 0.7;
  }

  .nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: unset;
  }

  .nav li {
    font-size: 1rem;
  }

  .closeBtn {
    display: none;
  }

  .signoutForm {
    display: none;
  }
}
